.App {
  text-align: center;
}

* {
  background-color: black;
  color: white;
  font-family: "MedievalSharp", cursive;
}

.btn {
  color: white;
  font-size: large;
  font-weight: 400;
}

button {
  padding: 2rem;
  font-size: x-large;
  font-weight: bold;
}
.btn-small {
  padding: 1rem;
  font-size: x-large;
  font-weight: bold;
}
.btn-inline {
  font-size: x-large;
  font-weight: bold;
}
.list-group-item {
  color: black;
  font-size: large;
  font-weight: bold;
}
.card {
  border-color: #6c757d;
}
.card-header {
  color: white;
  background-color: #6c757d;
  border-color: #6c757d;
  font-size: large;
  font-weight: bold;
}
.navbar-brand {
  background-color: #343a40;
  color: white;
}
.nav-link {
  background-color: #343a40;
  color: white;
}
.splashBtn {
  font-size: x-large;
}
.accordion-button {
  background-color: black !important;
  color: white;
  font-family: "MedievalSharp", cursive;
  font-size: 1.4rem;
}
.subtype-button {
  font-size: 1.1rem !important;
}
.accordion-button:not(.collapsed) {
  color: white;
}
.sticky-top {
  z-index: 999;
}
