.App {
  text-align: center;
}

* {
  background-color: black;
  color: white;
  font-family: 'MedievalSharp', cursive;

}

.btn {
  color: white;
  font-size: large;
  font-weight: 400;
}

button{
  padding: 2rem;
  font-size: x-large;
  font-weight: bold;
}
.btn-small{
  padding: 1rem;
  font-size: x-large;
  font-weight: bold;
}

.btn-inline{
  font-size: x-large;
  font-weight: bold;
}

.splashBtn {
  font-size: x-large;
}

.playerHeader {
  
}