.App {
  text-align: center;
}
* {
  background-color: black;
  color: white;
  font-family: "MedievalSharp", cursive;
}
.btn {
  color: white;
  font-size: large;
  font-weight: 400;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
button {
  padding: 2rem;
  font-size: x-large;
  font-weight: bold;
}
.btn-small {
  padding: 1rem;
  font-size: x-large;
  font-weight: bold;
}
.btn-inline {
  font-size: x-large;
  font-weight: bold;
}
.list-group-item {
  color: black;
  font-size: large;
  font-weight: bold;
}
.card {
  border-color: #6c757d;
}
.card-header {
  color: white;
  background-color: #6c757d;
  border-color: #6c757d;
  font-size: large;
  font-weight: bold;
}
.navbar {
  background-color: #343a40;
}
.navbar-brand {
  background-color: #343a40;
  color: white;
}
.navbar-collapse {
  background-color: #343a40;
}
.navbar-nav .dropdown-menu {
  left: auto;
  right: auto;
}
.nav-link {
  background-color: #343a40;
  color: white;
}
.offcanvas-bottom {
  height: 60vh;
}
.bazaar-radio {
  font-size: 1.3rem;
}
.bazaar-form-check-label {
  font-size: 1.1rem;
}
.form-floating > label {
  background-color: transparent;
  color: black;
}
.splashBtn {
  font-size: x-large;
}
.accordion-button {
  background-color: #6c757d;
  color: white;
  font-family: "MedievalSharp", cursive;
  font-size: 1.4rem;
}
.accordion-button:not(.collapsed) {
  background-color: #6c757d;
}
.bg-grey {
  background-color: #6c757d;
}
.bg-dark-grey {
  background-color: #343a40;
}
.subtype-button {
  font-size: 1.1rem !important;
}
.accordion-button:not(.collapsed) {
  color: white;
}
.sticky-top {
  z-index: 999;
}
